# Copy or rename this file to ".env.local" and
# input your Firebase project's details
# and auth domain (and any other values)
REACT_APP_FIREBASE_API_KEY=ABCDEFGHIJKLMNOPQRSTUVWXYZ1234
REACT_APP_FIREBASE_AUTH_DOMAIN=my-firebase-project.firebaseapp.com
